<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>This is the configuration file for Hightail.</comment>
<entry key="pathFromWorkingDirToExec">a.out</entry>
<entry key="prependingCommand"/>
<entry key="workingDirectory">/home/sampriti/IOI_Repository/Codeforces/Round_341</entry>
<entry key="checkExistence">1</entry>
</properties>
